<!DOCTYPE html>
<html>
<head>
    <title>Page</title>
</head>
<body>
   <h1>Pagination and optional depth filter</h1>
    <form method="get" action="/api/profile/getForm">
        <label for="page">Page:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="perPage">Per Page:</label><br>
        <input type="text" id="perPage" name="perPage"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
